@model TODOS.UI.Models.ToDoItemModel

<!-- Details Modal -->
<div class="modal fade" id="detailsTodoModal" tabindex="-1" aria-labelledby="detailsTodoModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-info-light">
                <h5 class="modal-title" id="detailsTodo">Details:</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body bg-light center-content">

                <input id="id" type="hidden" asp-for="id" />

                <div class="col-sm-10 center-content">
                    <h5 id="title" name="title" class="col-sm-10">
                        @Html.DisplayFor(model => model.title)
                    </h5>
                </div>
                <div id="content" class="col-sm-10 margin">
                    @Html.DisplayFor(model => model.content)
                </div>
                <div id="content" class="col-sm-10 text-muted text-xs-center">
                    <small class="text-muted">Last Modified: @Html.DisplayFor(model => model.lastModified) </small>
                </div>

            </div>
            <div class="modal-footer bg-light">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close"> Close </button>
            </div>
        </div>
    </div>
</div>
